<ion-header>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="logo">
      <img src="assets/imagenes/Instagram_logo.png"/>
    </ion-row>
    <ion-row>
      <ion-item class="label">
        <ion-input type="mail" placeholder="Correo electrónico"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="label">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="btnInicioSesion">
        <ion-button expand="block" class="botonInicioSesion" href="tabs/tab1">Iniciar sesión</ion-button>
    </ion-row>
    <ion-row>
        <ion-button fill="clear" class="botonOlvidarContraseña">¿Olvidaste tus datos de inicio de sesión?</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="block" class="botonInicioSesionFacebbok">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Ingresar con Facebook
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button fill="clear" class="botonRegistrarse">¿No tienes cuenta? Registrarse</ion-button>
    </ion-row>
    </ion-grid>

</ion-content>
