

<ion-header [translucent]="true">
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>


  
  <ion-content>

    
    <ion-searchbar showCancelButton="never"></ion-searchbar>

    <div class="fotos">
      <ion-photo class="avatar-md">
        <img src="https://placeimg.com/640/480/any">
      </ion-photo>
    </div>
    <div class="scroll-item" *ngFor="let i of [1,3,5,7,9,11,13,15,17,19]">
      <div class="item">
        <ion-photo class="avatar-md has-update has-status" >
          <img src="https://placeimg.com/640/480/{{i}}">
        </ion-photo>
      </div>
      <div class="item2">
        <ion-photo class="avatar-md has-update has-status">
          <img src="https://picsum.photos/id/{{i}}/640/480" >
        </ion-photo>
      </div>
      <div class="item3">
        <ion-photo class="avatar-md has-update has-status">
          <img src="https://placeimg.com/640/480/{{i}}">
        </ion-photo>
      </div>
      
    </div>  
    <div class="fotos">
      <ion-photo class="avatar-md">
        <img src="https://picsum.photos/id/100/640/480">
      </ion-photo>
    </div>
    
        
  </ion-content>

</ion-content>


