<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Editar Perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Información</ion-label>
    </ion-item>
  </ion-list>

  <ion-button  class="salirBoton" fill="clear" (click)="presentAlert()">Salir de cuenta</ion-button>
  

</ion-content>
